.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

.dialog {
  color: black;
  text-decoration: none;
}

.dialog.activeItem {
  color: pink;
}

.messages {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.message {
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
  margin-bottom: 5px;
}
